<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="test/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="true"
    stopOnError="true"
    stopOnSkipped="false"
>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/AliyunFC</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="coverage.xml" />
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>
    <testsuites>
        <testsuite name="ClientTest">
            <directory suffix=".php">./test</directory>
        </testsuite>
        <testsuite name="VersioningTest">
            <directory suffix=".php">./test</directory>
        </testsuite>
    </testsuites>
</phpunit>
